body {
    background: linear-gradient(deeppink, purple);
    margin-top: 4%;
}

#clockContainer {
    position: relative;
    margin: auto;
    height: 40vw;
    width: 40vw;
    background: url(clock.png) no-repeat;
    background-size: 100%;
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}

#hour {
    width: 1.8%;
    height: 25%;
    top: 25%;
    left: 48.85%;
    opacity: 0.8;
}

#minute {
    width: 1.6%;
    height: 30%;
    top: 19%;
    left: 48.9%;
    opacity: 0.8;
}

#second {
    width: 1%;
    height: 40%;
    top: 9%;
    left: 49.25%;
    opacity: 0.8;
}

#circle {
    position: absolute;
    /* background: rgb(143, 108, 108); */
    width: 10%;
    height: 10%;
    top: 44%;
    left: 45%;
    border: 10px;
    border-radius: 50%;
    border-color: red;
}

#semicir {
    position: absolute;
    background: rgb(139, 137, 132);
    border-radius: 50px;
    width: 35%;
    height: 35%;
    border: 10px;
    border-radius: 50%;
    border-color: red;
    transform-origin: bottom;
    text-align: center;
    left: 32%;
    top: 25%;
}

@media screen and (max-width: 1500px) {
    #clockContainer {
        position: relative;
        margin: auto;
        height: 60vw;
        width: 60vw;
        background: url(clock.png) no-repeat;
        background-size: 100%;
    }
    body {
        margin-top: 32%;
    }
}